.about-project__table {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 17px;
    row-gap: 14px;
}

@media screen and (max-width: 450px) {
    .about-project__table {
        row-gap: 16px;
        grid-template-rows: 1fr 13px;
        grid-template-columns: 35% 65%;
    }
  }