@media screen and (max-width: 768px) {
	.burger-menu__account-link {
		color:#ffff;
        text-decoration: none;
		font-size: 14px;
		line-height: 16px;
		font-family: "Inter", "Arial", sans-serif;
        font-weight: 500;
		color: #000000;
		padding-bottom: 4px;
	}
}