.header-auth__burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-auth__burger {
        display: block;
        width: 44px;
        height: 44px;
        border: 0;
        background: none;
        background-image: url('../../../images/burger.svg');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: -3px;
        padding: 0;
    }
  }