.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.footer__copyright:last-child {
  padding-left: 20px;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright:last-child {
    padding-top: 12px;
    padding-bottom: 30px;
    padding-left: 35px;
  }
}

