.footer {
  max-width: 1140px;
  padding-top: 79px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .footer {
      max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
      max-width: 668px;
  }
}