.about-project {
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    max-width: 1140px;
    position: relative;
}

@media screen and (max-width: 1140px) {
    .about-project {
        max-width: 768px;
    }
  }

@media screen and (max-width: 768px) {
    .about-project {
        max-width: 668px;
        padding-top: 90px;
        padding-bottom: 90px;
    }
  }