.search {
    margin-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .search {
        padding-bottom: 109px;
        margin-top: 80px;
    }
  }

  @media screen and (max-width: 667px) {
    .search {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
  }

  @media screen and (max-width: 450px) {
    .search {
        max-width: 292px;
    }
  }