.about-me__photo {
    width: 270px;
    height: 327px;
    position: absolute;
    right: 0;
    top: 227px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-me__photo {
        width: 255px;
        height: 307px;
        top: 207px;
    }
  }

  @media screen and (max-width: 690px) {
    .about-me__photo {
        width: 292px;
        height: 352px;
        top: 181px;
        right: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .about-me__photo {
        right: 0;
    }
  }
