.card__image {
    display: block;
}

@media screen and (max-width: 1170px) {
    .card__image {
        max-width: 342px;
    }
  }

  @media screen and (max-width: 709px) {
    .card__image {
        max-width: 300px;
    }
  }