.promo__picture {
    width: 320px;
    height: 320px;
    margin-top: 82px;
    margin-bottom: 122px;
    
}

@media screen and (max-width: 768px) {
    .promo__picture {
        margin-top: 224px;
        margin-bottom: 240px;
    }
  }