.portfolio__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    text-decoration: none;
    padding-bottom: 19px;
}

@media screen and (max-width: 768px) {
    .portfolio__paragraph {
        font-size: 28px;
    }
  }