.profile__info {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #E8E8E8;
}

.profile__info:last-of-type {
    border-bottom: none;
  }

  @media screen and (max-width: 450px) {
    .profile__info {
      max-width: 260px;
    }
  }