.search__submit {
    min-width: 34px;
    height: 34px;
    padding: 0;
    border: 0;
    background: none;
    padding-right: 29px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #E8E8E8;
    position: absolute;
    right: 226px;
    top: 16px;
    box-sizing: content-box;
    cursor: pointer;
}

@media screen and (max-width: 709px) {
    .search__submit {
        right: 0;
        top: 19px;
        padding-right: 19px;
        border-right: none;
        padding-top: 0;
        padding-bottom: 0;
    }
  }