.techs__container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 100px 0;
}

@media screen and (max-width: 1140px) {
    .techs__container {
        max-width: 768px;
    }
  }

@media screen and (max-width: 768px) {
    .techs__container {
        max-width: 668px;
        padding-top: 90px;
        padding-bottom: 90px;
    }
  }

  @media screen and (max-width: 667px) {
    .techs__container {
        max-width: 450px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
  }

  @media screen and (max-width: 450px) {
    .techs__container {
        max-width: 284px;
    }
  }